{% import '_macros' as macros %}

{% include "_partials/testimonials-carousel" %}
{% include "_partials/orgs" %}
<!-- Footer -->
<div class="container-fluid footer">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-be align-items-center  border-0">
			<p class="d-flex col-md-12 col-lg-4 mb-0 justify-content-center justify-content-lg-start">© {{ 'now' | date('Y') }} {{ siteName }} | 
				<a class="nav-link d-inline" href="{{baseUrl}}privacy-policy">Privacy Policy</a>
			</p>

			
{% cache %}
	


			<ul class="nav col-md-12 col-lg-8 justify-content-center justify-content-lg-end">
				{% set menu = craft.entries.section('pages')
				.hide(false)
				.level(1)
				.all() %}

				{% for entry in menu %}

				<li class="nav-item p-0 m-0">
					<a href="{{entry.url}}" class="nav-link py-0">{{entry.title}}</a>
				  </li> 

				{% endfor %}
			</ul>
			{% endcache %}
		</footer>
	</div>
</div>



<!-- Scripts -->