{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
{% if entry.heroStyle == "fullHero" %}


<section class="d-none d-lg-block text-center hero   m-0 p-0 position-relative">
  <div class=" hero-image">
  <div class="overlay">
    <h1 class="py-5">{{entry.heroheadline}}</h1>
    <p>        {{ entry.words |replace({',': "<span class='d-inline text-primary'>&nbsp;//&nbsp;</span>" })|raw }}
    </p>
    <div class="w-25 py-5">
      <a href="{{entry.heroButtonLink.one().url}}" 
    class="w-75 btn btn-primary btn-lg mx-auto ms-md-0 mb-2 ">
      {{entry.heroButtonText}}</a>
    </div>
  </div>
</div>
</section>
{% endif %}
{% if entry.heroStyle == "twoColumn" %}
<section class="bg-white d-flex">
  <div class="container">
    
    <div class="row flex-sm-row-reverse align-items-center align-items-md-end align-items-lg-center py-5 py-lg-0">
     
      <div class="col-12 d-flex d-none d-sm-none d-md-flex d-lg-none mx-auto fs-6">
        {{ entry.words |replace({',': "<span class='d-inline text-primary'> &nbsp;//&nbsp;</span>" })|raw }}
      </div>
      <div class="col  col-md-6 col-lg-6">
        
        {% set asset = entry.image.eagerly().one() %}
        {% set mobileImageAsset = entry.imageMobile.eagerly().one() %}
        <!-- mobile only -->
        {% set words =  entry.words |split(',') %}
        
        <div class="col d-block d-md-none text-center pt-4 pb-4">{{ words[0]}}&nbsp;<span class='d-inline text-primary'>&nbsp;//&nbsp;</span> {{words[1]}}</div>

        {% if mobileImageAsset|length %}
        
        <img src="{{mobileImageAsset.url}}" class="d-block d-lg-none mx-auto img-fluid rounded-circle bg-primary" alt="Picture of Miguel Lopez Sanchez" 
        width="200" height="200" />
        {% endif %}

        <div class="col d-lg-none text-center pt-4">{{ words[2]}} <span class='d-inline text-primary'>&nbsp;//&nbsp;</span> {{words[3]}}</div>

        <img src="{{asset.url}}" class="d-none d-lg-block mx-lg-auto img-fluid" alt="Picture of Miguel Lopez Sanchez" width=" {{asset.width}}"
          height=" {{asset.height}}" loading="lazy">
      </div>
      <div class="2nd col-12  col-md-6 col-lg-6 justify-content-start py-0 py-md-0">
        <div class="col-12 d-none d-lg-block d-flex mx-auto fs-6">
          {{ entry.words |replace({',': "<span class='d-inline text-primary'>&nbsp;//&nbsp; </span>" })|raw }}
        </div>
        {# <div class="col-12 d-none d-lg-block d-flex mx-auto fs-6">
          {{ entry.words |replace({',': "<span class='d-inline text-primary'>&nbsp;//&nbsp;</span>" })|raw }}
        </div> #}
        <h1 class="d-flex text-center text-md-start my-4 my-xl-5">
          {{entry.heroheadline}}
        </h1>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{entry.heroButtonLink.one().url}}" 
          class=" btn btn-primary btn-lg mx-auto ms-md-0 mb-2 ">
            {{entry.heroButtonText}}</a>

        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}

{% include('_partials/cat-cards') %}



{% endblock %}